
<form [formGroup]="ContactForm" (ngSubmit)="contactSubmit(ContactForm)">
    <h1>Contact Form</h1>
    Name: <input type="text" formControlName="name">
    <span *ngIf="ContactForm.get('name').invalid && submitForm" style="color: rgb(240, 4, 4);">*Please enter a valid name</span><br><br>
    
    Email: <input type="text" formControlName="email">
    <span *ngIf="ContactForm.get('email').invalid && submitForm" style="color: rgb(240, 4, 4);">*Please enter a valid email</span><br><br>

    Contact Number: <input type="text" formControlName="contact">
    <span *ngIf="ContactForm.get('contact').invalid && submitForm" style="color: rgb(240, 4, 4);">*Please enter a valid contact</span><br><br>
    <button type="submit" class="btn btn-info">Send</button>

</form>



<!-- <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/collection/190727/1400x900" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
   
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->


